* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background: #fff;
    min-height: 100vh;
}

#__nuxt {
    min-height: 100vh
}

ul {
    list-style-type: none;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
li {
    width: max-content;
    padding: .2rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #ffffff;
    background: #b0a130;
}